#game-board-backdrop {
    background-color: black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.game-board-row {
    width: 100%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.game-board-tile {
    width: 10%;
    height: 100%;
    background-color: white;
    border: 2px blue solid;
    box-sizing: border-box;
}

.game-board-tile-with-ship {
    width: 10%;
    height: 100%;
    background-color: aliceblue;
    border: 2px blue solid;
    box-sizing: border-box ;
}

