.five {
    width: 250px;
    height: 50px;
    margin: 10px;
    background-color: steelblue;
    border: 3px blue solid;
    box-sizing: border-box;
}

.four {
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: steelblue;
    border: 3px blue solid;
    box-sizing: border-box;
}

.three {
    width: 150px;
    height: 50px;
    margin: 10px;
    background-color: steelblue;
    border: 3px blue solid;
    box-sizing: border-box;
}

.two {
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: steelblue;
    border: 3px blue solid;
    box-sizing: border-box;
}
